<div id="app">
    <h1>Pages edit</h1>
    <hr />
    <form action="/cms_pages/update" method="post">
        <div>
            <input type="hidden" name="id" size="30" maxlength="40"
            value="<%= item._id %>" required>
            <p>
                <label>Title :
                <input type="text" name="title" size="30" maxlength="40"
                value="<%= item.title %>" required>
                </label>
            </p>
        </div>
        <div>
            <label>Content :</label>
            <textarea name="content" rows="12"
             class="form-control" required><%= item.content %></textarea>
        </div>
        <div>
            <input class="btn btn-primary mt-2"
             type="submit" value="Save"/>
        </div>
    </form>    
    <hr />
    <form action="/cms_pages/delete" method="post">
        <div>
            <input type="hidden" name="id" value="<%= item._id %>" required>                
            <input class="btn btn-danger"
            type="submit" value="Delete"/>
        </div>
    </form>
</div>


