<div id="app">
    <a class="btn btn-outline-primary" href="/cms_category">Back</a>
    <hr class="mt-2 mb-2" />    
    <h1>Category add</h1>
    <hr />
    <form action="/cms_category/add" method="post">
        <div>
            <p>
                <label>Name :
                <input type="text" name="name" size="30" maxlength="40" required>
                </label>
            </p>
        </div>
        <div>
            <label>Content :</label>
            <input type="text" name="content" size="30" />
        </div>
        <hr />
        <div>
            <input class="btn btn-primary" 
            type="submit" value="Save"/>
        </div>
    </form>    
</div>

