<div id="app">
    <h1>Category add</h1>
    <hr />
    <form action="/cms_category/add" method="post">
        <div>
            <p>
                <label>name :
                <input type="text" name="name" size="30" maxlength="40" required>
                </label>
            </p>
        </div>
        <div>
            <label>content :</label>
            <input type="text" name="content" size="30" />
        </div>
        <hr />
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>    
</div>

