<div id="app">
    <h1>Login</h1>
    <hr />
    <form action="/login" method="post">
        <div>
            <p>
                <label>mail :<input type="email" name="email" size="30" maxlength="40" required>
                </label>
            </p>
        </div>
        <div>
            <label>パスワード：</label>
            <input type="password" name="password" required />
        </div>
        <hr />
        <div>
            <input type="submit" value="ログイン"/>
        </div>
    </form>    
    
</div>

<!-- -->
<script>    
</script>
