
<div class="container show_body_wrap">
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary mt-2" href="/"> Back</a>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <hr class="mt-2 mb-2" />
    <div id="app"></div>
</div>
<!-- -->
<script src="/js/marked.min.js" ></script>
<script type="text/babel">

class Show extends React.Component {
    constructor(props) {
        super(props);
        this.state = {data: '', category: '' }
        this.id = props.id
console.log(this.id)
    }
    componentDidMount(){
        this.get_item( this.id )        
    }
    async get_item(id){
        axios.get("/api_cms_posts/show/" + id ).then(res =>  {
            var dat = res.data.docs
console.log( dat )
            var category = []
            if(dat.category.length > 0){
                category = dat.category[0]
            }
            dat.content = marked(dat.content)
            this.setState({ 
                data: dat,
//                category: dat.category[0],
                category: category,
            });            
//console.log( category)
        })        
    }    
    render(){
//console.log(this.state.category)
        return (
            <div>
                <div className="show_head_wrap">
                    <i className="fas fa-home"></i> >
                    {this.state.data.title}
                </div>
                <hr />                
                <h1>{this.state.data.title}</h1>
                Category: {this.state.category.name }<br />
                Date: {this.state.data.date_str } <br />
                <hr />
                <div id="post_item" 
                dangerouslySetInnerHTML={{ __html: this.state.data.content }} >
                </div>                
            </div>
        )
    }
}
ReactDOM.render(<Show id="<%= params_id %>"  />, document.getElementById('app'));
</script>
<!-- -->
<style>
.show_body_wrap{ background-color: #FFF }
div#post_item > p > img{
  max-width : 100%;
  height : auto;
}
div#post_item > hr {
  height: 1px;
  background-color: #000;
  border: none;
}

.show_head_wrap{ font-size: 1.4rem; }
</style>

