<div class="row mt-2">
    <div class="col-sm-6">
        <a href="/cms_posts/add">[ Add ] </a>
    </div>
    <div class="col-sm-6">
    </div>
</div>
<hr />
<div id="app"></div>

<!-- -->
<script type="text/babel" src="/js/component/cms/Posts/IndexRow.js" ></script>
<script type="text/babel">
var PAGE = <%= page %>;
//
class List extends React.Component {
    constructor(props) {
        super(props);
        this.state = {data: '', item_count:0, paginate_disp:0 }
        this.db = null
    }
    componentDidMount(){
        console.log("PAGE:", PAGE)
        this.get_items(PAGE);
    }
    get_items(PAGE){
        axios.get("/api_cms_posts/index?page=" +PAGE).then(res =>  {
            var data = res.data
            var items = data.docs
            var item_count = data.page_item.item_count
            var paginate_disp = data.page_item.paginate_disp;

            var arr =[];
            this.setState({ 
                data: items ,item_count:item_count ,paginate_disp: paginate_disp
            })
console.log( items );
        })
    }    
    tabRow(){
        if(this.state.data instanceof Array){
            return this.state.data.map(function(object, index){
//console.log(object );
                return <IndexRow obj={object} key={index} />
            })
        }
    }
    dispPagenate(){
//console.log(this.state.paginate_disp)
        if(this.state.paginate_disp ===1){
            var url = "/cms_posts?page="
            return(
            <div className="paginate_wrap">
                <div className="btn-group" role="group" aria-label="Basic example">
                    <a href={url+ 1} className="btn btn-outline-primary"> 1st  </a>
                    <a href={url+ (PAGE+1)} className="btn btn-outline-primary"> > </a>
                </div>
            </div>
            )
        }
    }    
    render(){
        return (
            <div>
                <h3>CMS - Posts</h3>
                <table className="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {this.tabRow()}
                    </tbody>
                </table> 
                <hr />
                {this.dispPagenate()}
                <br /><br />           
            </div>
        )
    }
}
ReactDOM.render(<List />, document.getElementById('app'));
</script>
