<div id="app">
    <a class="btn btn-outline-primary" href="/cms_posts">Back</a>
    <hr class="mt-2 mb-2" />
    <h3 class="mt-2">Posts add</h3>
    <hr />
    <div class="row">
        <div class="col-sm-9">
            <form action="/cms_posts/add" method="post">
                <div>
                    <label>Cateogry:</label>
                    <select class="form-control" name="category_id">
                    <% category.forEach(function(item){ %>
                        <option value="<%= item._id %>"><%= item.name  %>
                        </option>
                    <% }) %>        
                    </select>
                </div>
                <div class="mt-0">
                    <p>
                        <label>Title :
                        <input type="text" class="form-control col-sm-9" 
                          name="title" size="30" maxlength="40" required>
                        </label>
                    </p>
                </div>
                <div class="mt-2">
                    <label>Content :</label>
                    <textarea name="content" id="content" class="form-control"
                    rows="12" class="form-control" required></textarea>
                </div>
                <hr />
                <div>
                    <input type="submit" value="Save"/>
                    <br /><br />
                </div>
            </form> 
        </div>
        <div class="col-sm-3">
            <div style="display: none;">
                <input type="file" name="file1" id="file1"><br /><br />
            </div>
            <button onClick="open_upload();"
             class="btn btn-sm btn-outline-primary">ImageUpload</button>
        </div>

    </div>

   
</div>
<!-- -->
<script src="/js/ImageTransfer.js" ></script>
<script>
//
window.document.getElementById("file1").addEventListener("change", function() {
    console.log("#change");
    ImageTransfer.upload('file1');
});
//
function open_upload(){
    console.log("#-open_upload")
    $("#file1").click()
}
</script>
