
<div class="row">
    <div class="col-sm-6">
        <a href="/cms_posts">[ Back ]</a>
    </div>
    <div class="col-sm-6">
        <a href="/cms_posts/edit/<%= params_id %>">[ edit ]</a>
    </div>
</div>
<hr class="mt-2 mb-2" />
<!-- <h3>Posts - Show</h3> -->
<div id="app"></div>
<!-- -->
<script src="/js/marked.min.js" ></script>
<script type="text/babel">

class Show extends React.Component {
    constructor(props) {
        super(props);
        this.state = {data: '', category: '' }
        this.id = props.id
console.log(this.id)
    }
    componentDidMount(){
        this.get_item( this.id )        
    }
    async get_item(id){
        axios.get("/api_cms_posts/show/" + id ).then(res =>  {
            var dat = res.data.docs
console.log( dat )
            var category = []
            if(dat.category.length > 0){
                category = dat.category[0]
            }
            dat.content = marked(dat.content)
            this.setState({ 
                data: dat,
                category: category,
//                category: 0,
            });            
//console.log( this.state.data.title )
        })        
    }    
    render(){
//        console.log(this.state.category)
        return (
            <div>
                <h1>title : {this.state.data.title}</h1>
                Category: {this.state.category.name }<br />
                Date: {this.state.data.date_str } <br />
                <hr />
                <div id="post_item" 
                dangerouslySetInnerHTML={{ __html: this.state.data.content }} >
                </div>                
            </div>
        )
    }
}
ReactDOM.render(<Show id="<%= params_id %>"  />, document.getElementById('app'));
</script>
<!-- -->
<style>
div#post_item > p > img{
  max-width : 100%;
  height : auto;
}
div#post_item > hr {
  height: 1px;
  background-color: #000;
  border: none;
}

.show_head_wrap{ font-size: 1.4rem; }
</style>
