<div id="app">
    <h1>File Upload</h1>
    <p>サンプル ファイルアップロード</p>

    <form action="/cms_posts/file_upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file1"><br /><br />
      <input type="submit" value="Upload">
    </form>
    <hr />
</div>

<!-- -->
<script>
</script>

