
<br />
<div class="row">
    <div class="col-sm-6">
        <a href="/sorted_tasks/new">[ new ] </a>
    </div>
    <div class="col-sm-6">
        <a href="/sorted_tasks/import_task">[ import_task ] </a>
    </div>
</div>

<hr />
<div id="app"></div>

<!-- -->
<script type="text/babel" src="/js/component/SortedTasks/IndexRow.js" ></script>
<script type="text/babel">
var PAGE = <%= page %>;
//
class List extends React.Component {
    constructor(props) {
        super(props);
        this.state = {data: '', item_count:0, paginate_disp:0 }
        this.db = null
    }
    componentDidMount(){
        console.log("PAGE:", PAGE)
        this.get_items(PAGE);
    }
    get_items(PAGE){
        axios.get("/api_sorted_tasks/tasks_index?page=" +PAGE).then(res =>  {
            var data = res.data
            var items = res.data.docs
            var item_count = data.page_item.item_count
            var paginate_disp = data.page_item.paginate_disp;

            var arr =[];
            this.setState({ 
                data: items ,item_count:item_count ,paginate_disp: paginate_disp
            })
// console.log(res.data.page_item );
        })
    }    
    tabRow(){
        if(this.state.data instanceof Array){
            return this.state.data.map(function(object, index){
//console.log(object );
                return <IndexRow obj={object} key={index} />
            })
        }
    }
    dispPagenate(){
//console.log(this.state.paginate_disp)
        if(this.state.paginate_disp ===1){
            var url = "/sorted_tasks?page="
            return(
            <div className="paginate_wrap">
                <div className="btn-group" role="group" aria-label="Basic example">
                    <a href={url+ 1} className="btn btn-outline-primary">1st</a>
                    <a href={url+ (PAGE+1)} className="btn btn-outline-primary">next</a>
                </div>
            </div>
            )
        }
    }    
    render(){
        return (
            <div>
                <h1>SortedTasks- pagingIndex</h1>
                <table className="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {this.tabRow()}
                    </tbody>
                </table> 
                <hr />
                {this.dispPagenate()}
                <br />           
            </div>
        )
    }
  
}

ReactDOM.render(<List />, document.getElementById('app'));
</script> 

<!-- -->
<style>
.tasks_index_wrap .div_post_wrap{
    padding : 8px;
}
.div_post_wrap hr{
  height: 1px;
  background-color: #000;
  border: none;
  margin-bottom : 0px;
}
</style>
