<!-- navi -->
<div class ="footer_box mt5" id="id_foot" >
    <p class="p_foot_str">Copyright 2020, sample Inc.</p>
</div>
<style>
.footer_box {
    margin-top: 20px;
    background-color: #757575;
    color: #fff;
    padding: 140px 40px;
}
</style>


