<div class="main_title_wrap">
    <div id="div_img_layer">
        <h1>CMS - Sample
            <br />
        </h1>
        <p class="sub_title mt-2">キャッチコピーの文章１２３
            <br />
        </p>
    </div>
</div>
<div id="div_menu_layer">
    <div class="container">
        <div class="menu_icon_wrap ml-4">
            <a class="menu_display_btn">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </div>
</div>

